POSTGRES_PASSWORD=your_actual_password
RABBITMQ_USER=pulsewatch
RABBITMQ_PASSWORD=your_password
AWS_REGION=us-east-1

AWS_ACCESS_KEY_ID=...
AWS_SECRET_ACCESS_KEY=...

PULSEWATCH_EMAIL_FROM=your-verified-email@example.com
PULSEWATCH_EMAIL_TO=your-email@example.com